<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Summary of Closed Submission</h1>
<p>
  A <%= @language.name %> submission from <%= @candidate_name %> has been closed and the assessments are included below.
</p>

<% @assessments.each_with_index do |a, index| %>
<div>
  <p><strong>Assessment <%= index + 1 %></strong></p>
  <p>Assessed by <%= a.assessor.name %></p>
  <p>Conclusion: <%= a.conclusion %></p>
  <p>Pros:</p>
  <%= markdown_to_html(a.pros).html_safe %>
  <p>Cons:</p>
  <%= markdown_to_html(a.cons).html_safe %>
  <p>Notes:</p>
  <%= markdown_to_html(a.notes).html_safe %>
</div>

<% end %>
</body>
</html>
